{
  "extends": "../.eslintrc",
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "./playground/src",
          "./src"
        ]
      }
    }
  }
}