{
  "extends": "../.eslintrc",
  "parserOptions": {
    "project": "./playground/tsconfig.json"
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "packageDir": ["./", "./playground/"]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "./src"
        ]
      }
    }
  }
}